{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Vport" content="width = device-width, initial-scale = 1">
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'StyleSheetLab4.css' %}">
</head>
<body>
    <header>
        <p><span class="Title1"></span>NOTES</p>
    </header>
    <div class="wrapperNotes">
        {% for note in notes %}
        <div class="Contain">
            <div class="Main">
                <p>To      : <span class="to"> {{ note.to }} </span></p>
                <p>From    : <span class="From"> {{ note.From }} </span></p>
                <p>Title   : <span class="title">{ { note.title }} </span></p>
                <p>Message : 
                    <br>
                    <span class="message">{{ note.message }}</span>
                    <br>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
<!-- Referensi dari Progate.com -->