{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOTES</title>
    <link rel="stylesheet" href="{% static 'lab4_note_list.css' %}">
</head>
<body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand"> NOTES </a>
          <ul class="nav nav-pills">
            <li><a class="nav-link" href="/lab-4/"> Table </a></li>
            <li><a class="nav-link active" href="note-list"> Card </a></li>
            <li><a class="nav-link" href="add-note"> Add Note </a></li>
          </ul>
        </div>
    </nav>
    <div class="flex-gap">
        {% for note in notes %}
        <div class="card">
            <div class="head-container">
                <p>To : <span class="to">{{ note.to }}</span></p>
                <p>From : <span class="From">{{ note.From }}</span></p>
                <p>Title : <span class="title">{{ note.title }}</span></p>
            </div>
            <div class="body-container">
                <p>{{ note.message }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
