body {
    font-family: "serif";
    background-color: #dfc89e;
    font-size: 20px;
}

header {
    background-color: #f8f3ea;
    height: 80px;
    width: 100%;
    color: #121718;
    font-size: 30px;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Main {
    background-color: #f8f3ea;
    border-radius: 2px;
    margin: 7px 7px 1px 3px;
    padding: 1em;
    color: #000000;
    font-weight: lighter;
}

.wrapperNotes {
    display: flex;
    padding-top: 40px;
}

p {
    margin: 1px;
}

.Title1 {
    margin-right: 10px;
}


.Contain {
    background-color: #e4b078;
    display: flex;
    flex-direction: column;
    width: 28%;
    border-radius: 6px;
    margin: 10px 10px 15px 10px;
}

.to{
    color: #573525;
}

.From{
    color: #573525;
}

.title{
    color: #573525;
}

.message {
    color: #96593d;
}
/* Referensi penggunaan HTML CSS adalah dari Progate.com */